# ملفات Flutter الأساسية
.dart_tool/
.build/
.flutter-plugins/
.flutter-plugins-dependencies/
.packages
pubspec.lock

# ملفات النظام
*.iml
*.log
*.tmp
*.DS_Store
*.idea/
*.vscode/
*.gradle/
build/
android/.gradle/
android/app/build/
*.lock

# بيانات حساسة
*.env
*.keys
google-services.json
firebase_options.dart
